.rounded-border {
    border-radius: .75rem;
    border: 2px solid white;
    padding: 1rem;
    background-color: white;
}

.column-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.icon {
    margin: 0 .5rem;
}

.addresses-box {
    width: 17vw;
}

.validation-error {
    color: red;
}

.list-margin {
    margin-top: .5vh;
}

.address-item {
    border-radius: .75rem;
    border: 2px solid white;
    background-color: white;
    height: 3.5vw;
    margin-bottom: 1vh;
}

.address {
    margin-left: 1vw;
}
